<!DOCTYPE HTML>
<html>
<head>
  <title>supp</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/app/index.css">
</head>
<body>
<div class="background_filter_area"></div>
<div class="result relative text-center text-5xl w-2/3 mx-auto my-10 developer-type md:text-6xl lg:text-6xl">
  { 맥가이버 }
</div>
<div class="result text-center relative w-2/3 mx-auto my-10">
  <img class="w-1/3 mr-20" src="/image/macgyver.png" alt="" style="float:left">
</div>
<div class="result relative text-2xl w-2/3 mx-auto my-10 description md:text-3xl lg:text-3xl">
  <span>
    당신의 주위엔 항상 노트북과 커피 그리고 slipp.net이 있습니다.
    <br/>
    당신은 내일 지구가 멸망하더라도 오늘 한 줄의 코드를 작성할 사람입니다.
    할 일이 많나요? 문제없죠! 당신은 멀티태스킹에 능하고 시간은 당신의 편이랍니다.
    <br/>
    당신은 똑똑하고 매력적이에요. 그리고 남을 기다리게 하지 않기에 모두 당신을 좋아해요!😍
    그렇지만 당신의 코드 퀄리티에 대해서는 조심하세요! 서둘렀기에 아쉬울 수 있어요.
  </span>
</div>
<div class="result relative clear-both text-2xl w-2/3 mx-auto my-10 quotes md:text-3xl lg:text-3xl">
  <blockquote class="relative p-4 italic bg-neutral-100 text-neutral-600 border-neutral-500 quote">
    <div class="stylistic-quote-mark mr-2 font-dank-mono text-neutral-500 absolute top-0 leading-none" aria-hidden="true">&ldquo;</div>
    <p class="mb-4">
      Everyone knows that […] something cannot be done until someone comes along who doesn’t know that - Einstein
      <br/>
      모든 사람들은 불가능한 것을 이룰 수 없다고 생각합니다. 불가능하다고 생각하지 않는 사람이 그걸 이루기 전까진.
    </p>
  </blockquote>
</div>
<h2 class="result relative text-4xl w-2/3 mx-auto my-10 wisdom-title md:text-5xl lg:text-5xl">이 말을 기억하도록 해요!!!</h2>
<div class="result relative text-2xl w-2/3 mx-auto my-10 wisdom md:text-3xl lg:text-3xl">
  <span>
    <b>Hurry slowly!</b>
    <br/>
    천천히 서둘러!
  </span>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/app/index.js" type="module"></script>
</body>
</html>
