<!DOCTYPE HTML>
<html>
<head>
  <title>supp</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/app/index.css">
</head>
<body>
<div class="background_filter_area"></div>
<div class="result relative text-center text-5xl w-2/3 mx-auto my-10 developer-type md:text-6xl lg:text-6xl">
  { 미치광이 과학자 }
</div>
<div class="result text-center relative w-2/3 mx-auto my-10">
  <img class="w-1/3 mr-20 float-left" src="/image/mad_scientist.png" alt="">
</div>
<div class="result relative text-2xl w-2/3 mx-auto my-auto description md:text-3xl lg:text-3xl">
  <span>
    당신은 혁신적인 솔루션 만들기를 좋아하는 미치광이 과학자입니다.
    <br/>
    당신의 취미는 새로운 툴, 텍스트 편집기 및 프레임 워크를 배우고 프로젝트에 적용하여 다른 사람의 호기심을 자극합니다.
    <br/>
    당신은 항상 최신의 것을 추구합니다.
    당신이 일을 제시간에 마치는 것보다 지구 종말이 더 가능성 있겠네요!
  </span>
</div>
<div class="result relative clear-both text-2xl w-2/3 mx-auto my-10 quotes md:text-3xl lg:text-3xl">
  <blockquote class="relative p-4 italic bg-neutral-100 text-neutral-600 border-neutral-500 quote">
    <div class="stylistic-quote-mark mr-2 font-dank-mono text-neutral-500 absolute top-0 leading-none" aria-hidden="true">&ldquo;</div>
    <p class="mb-4">
      Imagination is more important than knowledge. For knowledge is limited to all we now know and understand, while imagination embraces the entire world, and all there ever will be to know and understand - Einstein
      <br/>
      상상력은 지식보다 더 중요하다. 지식은 우리가 이미 알고 이해하는 것에 한정되지만 상상력은 전체 세계와, 장차 우리가 알고 이해하게 될 모든 것을 다 포용하기 때문이다.</p>
    <p class="mb-4">At last! My greatest invention is now completed! - Dexter
      <br/>드디어! 나의 최고의 발명품이 완성되었어!!!!</p>
    <p class="mb-4">Any fool can know. The point is to understand - Einstein
      <br/>
      어떠한 바보도 이해가 중요하다는 걸 알 거야.
    </p>
  </blockquote>
</div>
<h2 class="result relative text-4xl w-2/3 mx-auto my-10 wisdom-title md:text-5xl lg:text-5xl">이 말을 기억하도록 해요!!!</h2>
<div class="result relative text-2xl w-2/3 mx-auto my-10 wisdom md:text-3xl lg:text-3xl">
  <span>
    <b>If you can’t explain it simply you don’t understand it well enough - Einstein</b>
    <br/>
    만약 당신이 어떤 것을 간단하게 설명하지 못한다면 당신은 그걸 충분히 이해하지 못한 것이다.
  </span>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/app/index.js" type="module"></script>
</body>
</html>
