<!DOCTYPE HTML>
<html>
<head>
  <title>supp</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/app/index.css">
</head>
<body>
<div class="background_filter_area"></div>
<div class="result relative text-center text-5xl w-2/3 mx-auto my-10 developer-type md:text-6xl lg:text-6xl">
  { 닌자 }
</div>
<div class="result text-center relative w-2/3 mx-auto my-10">
  <img class="w-1/3 mr-20" src="/image/ninja.png" alt="" style="float:left">
</div>
<div class="result relative text-2xl w-2/3 mx-auto my-10 description md:text-3xl lg:text-3xl">
  <span>
    모든 개발자들 사이에서 가장 위대한.... 닌자!!
    <br/>
    당신은 프로그래밍에 타고났습니다.
    당신은 프로그래밍하는 데에 많은 공간을 필요로 하는 외로운 늑대입니다. 그리고 연습과 동기 부여가 완벽의 열쇠라는 것을 알고 있습니다.
    <br/>
    당신은 군중들과 매끄럽게 조화를 이루고 모든 상황에 신속하게 적응할 수 있습니다. 그래서 입사 첫날에도 사람들은 당신이 새로 왔다고 생각하지 않죠.
    비록 사람들이 종종 당신의 이름을 모르더라도 일처리가 빠르기 때문에 사람들은 당신의 존재를 느낍니다.
    비록 당신은 팀에 왔다 가는 존재일 수 있지만 모든 사람들은 당신을 믿습니다.
    <br/>
    그리고 당신의 지식과 스킬은 프로젝트를 구원합니다(한 번만 구원하는 게 아닙니다..)
  </span>
</div>
<div class="result relative clear-both text-2xl w-2/3 mx-auto my-10 quotes md:text-3xl lg:text-3xl">
  <blockquote class="relative p-4 italic bg-neutral-100 text-neutral-600 border-neutral-500 quote">
    <div class="stylistic-quote-mark mr-2 font-dank-mono text-neutral-500 absolute top-0 leading-none" aria-hidden="true">&ldquo;</div>
    <p class="mb-4">
      For those regarded as warriors, when engaged in combat the vanquishing of thine enemy can be the warrior’s only concern. Suppress all human emotion and compassion. Kill whoever stands in thy way, even if that be Lord God, or Buddha himself. This truth lies at the heart of the art of combat - Hattori Hanzo
      <br/>
      전사로서 전투에 참전할 때는 적을 무찌르는 게 전사의 유일한 관심사일 수 있습니다. 모든 인간적 감정과 동정심을 억제하십시오. 신이나 부처가 길을 막고 있더라도 가차없이 죽이십시오. 이게 전투의 모든 것입니다.
    </p>
    <p class="mb-4">
      Unpreparedness is One’s Greatest Enemy - Yudan Taiteki
      <br/>
      준비하지 않음이 가장 큰 적이다.
    </p>
  </blockquote>
</div>
<h2 class="result relative text-4xl w-2/3 mx-auto my-10 wisdom-title md:text-5xl lg:text-5xl">이 말을 기억하도록 해요!!!</h2>
<div class="result relative text-2xl w-2/3 mx-auto my-10 wisdom md:text-3xl lg:text-3xl">
  <span>
    <b>Don’t commit seppuku[일본 사무라이 자결] when something went wrong, start to cooperate with other people.</b>
    <br/>
    문제가 생기면 혼자 떠안으려 하지 말고 다른 사람들과 협업을 시작하세요.
  </span>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/app/index.js" type="module"></script>
</body>
</html>
