@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");

@font-face {
  font-family: 'BMHANNAPro';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: BMHANNAPro, serif;
  color: white;
  text-align: center;
  margin-top: 4.5rem;
  font-size: 3.5rem;
  padding: 2rem 11rem;
  margin-bottom: 5rem;
}

.subject {
  font-family: BMHANNAPro, serif;
  color: white;
  text-align: center;
  margin-top: 1rem;
  padding: 1.5rem;
  font-size: 2.2rem;
}

.sub_subject {
  font-family: BMHANNAPro, serif;
  color: white;
  text-align: center;
  margin-top: 1rem;
  padding: 1.5rem;
  font-size: 2rem;
}

body {
  height: 100vh;
  background: url("images/index-background.png") no-repeat center/cover;
}

.btn {
  text-align: center;
}

.result {
  font-family: BMHANNAPro, serif;
}

.stylistic-quote-mark {
  font-size: 7rem;
  right: 100%;
}

.developer-type {
  color: rgba(241, 255, 248, 0.91);
}

.description {
  color: white;
}

.quotes {
  color: lightgrey;
}

.wisdom-title {
  color: darkslategray;
}

.wisdom {
  color: darkslategray;
}

#user {
  top: 0.5rem;
  right: 2rem;
  position: absolute;
  text-align: right;
}

#question-text {
  margin-top: 10rem;
  font-size: 5rem;
  padding: 2rem;
  margin-bottom: 5rem;
}

#left {
  text-align: center;
  padding: 1rem;
  font-size: x-large;
}

#right {
  text-align: center;
  padding: 1rem;
  font-size: x-large;
}

.left-container {
  margin: 1rem;
}

.right-container {
  margin: 1rem;
}

.button-container {
  margin-top: 10rem;
  text-align: center;
  margin: 0 auto;
}

.answerContainer {
  padding: 10rem;
  text-align: center;
  margin: 0 auto;
}

.answer {
  text-align: center;
  padding: 1rem;
  margin: 2rem;
  width: 65%;
  font-size: xx-large;
}
