{{>layout/header}}

<h1>supp</h1>
<h3>나는 어떤 개발자일까요?</h3>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                <a href="/survey" role="button" class="btn btn-primary">시작</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/github" class="btn btn-success active" role="button">Github Login</a>
            {{/userName}}
        </div>
    </div>
</div>

{{>layout/footer}}