{{>layout/header}}
<div class="background-filter-area-index"></div>

<h1 class="relative title">supp 검사가 너무 정확해 "살짝 소름이 돋을 정도예요"라고 성격 유형 검사를 마친 포비는 말했습니다.</h1>
<h3 class="relative subject">쉽고 간단하면서도 정확한 성격 유형 검사를 통해 당신이 누구이며, 왜 그러한 특정 행동 성향을 보이는지 확인하십시오.</h3>
{{#loginName}}

  <div class="col-md-12">
  <div class="row">
  <div class="row text-center" style="width: 100%">
    <div class="relative sub_subject" id="user">안녕하세요! {{loginName}} 크루님!</div>
  <div style="width: 30%; float:none; margin:0 auto">
    <a href="/logout" class="relative btn btn-info active" role="button"
       style="width: 43%; font-size: xx-large; padding: 1rem; margin: 8rem 1rem">Logout</a>
  {{#isTypeSurveyDone}}
      <a href="/survey-type" role="button" class="relative btn btn-primary"
         style="width: 33%; font-size: xx-large; padding: 1rem; margin: 8rem 1rem">수정</a>
  {{/isTypeSurveyDone}}
  {{^isTypeSurveyDone}}
      <a href="/survey-type" role="button" class="relative btn btn-primary"
         style="width: 33%; font-size: xx-large; padding: 1rem; margin: 8rem 1rem">시작</a>
  {{/isTypeSurveyDone}}
{{/loginName}}
{{^loginName}}
  </div>
  </div>
    <div class="row text-center" style="width: 100%">
      <div style="width: 100%; float:none; margin:0 auto">
        <a href="/oauth2/authorization/github" class="relative btn btn-success btn-round" role="button"
           style="width: 25%; font-size: xx-large; padding: 1rem; margin-top: 8rem">Github Login</a>
      </div>
    </div>
{{/loginName}}
</div>
</div>

{{>layout/footer}}