{{>layout/header}}
<h1 id="question"></h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <div class="answerContainer"></div>
            <br>
        </div>
    </div>
</div>

{{>layout/footer-survey-style}}