{{>layout/header}}
<div class="question"></div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
          <div class="button-container">
            <div class="btn btn-primary left-container"></div>
            <div class="btn btn-primary right-container"></div>
          </div>
        </div>
    </div>
</div>

{{>layout/footer-survey-type}}