{{>layout/header}}
<div class="question text-center" style="width: 100%; color:white;">
  <h1 id="question" class="title"></h1>
</div>
      <div class="answerContainer"></div>
      <br>

{{>layout/footer-survey-style}}