{{>layout/header}}
<br>
<br>
<div class="question text-center" style="width: 100%; color:white;"></div>
<div class="col-md-12">
  <div class="row">
    <div class="button-container">
      <div class="btn btn-primary btn-lg left-container text-center"></div>
      <div class="btn btn-primary btn-lg right-container text-center"></div>
    </div>
  </div>
</div>

{{>layout/footer-survey-type}}